@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: only light;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  @apply bg-cream text-ink font-body antialiased;
}

a {
  @apply transition-colors duration-150;
}
